

<form>
  <fieldset>
    <legend>Edit Account</legend>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <label><%= f.label :username %></label>
  <%= f.text_field :username, :autofocus => true %>

  <label><%= f.label :email %></label>
  <%= f.email_field :email%>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <label><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></label>
  <%= f.password_field :password, :autocomplete => "off" %>

  <label><%= f.label :password_confirmation %></label>
  <%= f.password_field :password_confirmation %>

  <label><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></label>
  <%= f.password_field :current_password %>

  <label><%= f.label :college_name, "College" %></label>
  <%= f.text_field :college_name, data: {autocomplete_source: College.order(:name).map(&:name)} %>

  <div><%= f.submit "Update" %></div>
<% end %>
</fieldset>
</form>
<h6>Cancel my account</h6>

<p><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %>
