
<%= form_for @course do |f| %> 
  <p>
    <%= f.label :SLN %><br>
    <%= f.text_field :SLN %>
  </p>
  <%  @course.registrations.build %>
  <%= f.fields_for :registrations do |builder| %>
    <%= builder.label :kind %><br>
    <%= builder.select :kind, ["wanted","available"] %>
  <% end %>
  <p>
  <%= f.submit %>
</p>
<% end %>
