
<div id="whole" class="row">
<div class="span5">
  <h4>Available Courses:</h4>
  <% @user.available_courses.each do |avail| %>
  <p>
  <%= avail.name %><br/>
  </p>
  <% end %>

</div>
<div class="span5">
<%= form_tag search_accounts_path, :method => :post do %>

  <h4>Wanted Courses:</h4>

  <% @user.wanted_courses.each do |wanted| %>
    <p>
    <%= radio_button_tag "wanted_id", wanted.id %>
    <%= wanted.name %><br/>
    </p>
  <% end %>

<div id="away"><%= submit_tag "Course Exchange", class: 'btn btn-info' %></div>
<% end %>

</div>
</div>
<div class="links">
<%= link_to "Add new course", courses_path, id: "new_course", class: 'btn btn-small btn-primary' %>
<%= link_to "Delete courses", edit_account_path(@account), id: "delete_course", class: 'btn btn-small btn-danger' %>
</div>
